@font-face { font-family: Kiona; src: url('Kiona-Regular.ttf'); } 
@font-face { font-family: Klik; src: url('Klik-Light.otf'); } 
@font-face { font-family: Julius; src: url('JuliusSansOne-Regular.ttf'); }
@font-face { font-family: Loves; src: url('LOVES.ttf'); }  